@model IEnumerable<CarDatabaseTesting.Models.Model>

@{
    ViewBag.Title = "CarModels";
}

<h2>Car Models List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horsepower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxSpeed) (in km/h)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Class
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horsepower)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
