@model CarDatabaseTesting.ViewModels.CreateOrderVM

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clients, "Client", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("Clients", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Clients, "", new { @class = "text-danger" })*@
                @Html.DropDownList("SelectedClientID", Model.Clients, new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllCarModels, "Car Model", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("Car Model", (SelectList)ViewBag.AllCarModels, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("SelectedModelID", Model.AllCarModels, new { @class = "form-control"})
                @*<input type="hidden" name="SelectedModelID" value="@Model.SelectedModelID" />*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Accessories, "Accessories", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AccessoriesIDs", Model.Accessories, new { @class = "form-control", multiple = "multiple", size = "8" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
